@import "./components/CategoryAccordion.scss";

// TopicCard component now uses Bootstrap utilities
// Container: bg-body-secondary border rounded
// Header: py-4 px-3 border-bottom
// Title: h6 mb-0
// Body: p-3 pb-0
